<!--html file for request object example this will store the form data by student-->

<html>     
    <head>
        <title> 
            Student Form
        </title>
    </head>
    <body>
        <form action="http://localhost:5000/result" method="POST">
            <p>Name<input type="text" name ="name"></p>
            <p>Physics<input type="text" name="physics"></p>
            <p>Maths<input type="text" name="maths"></p>
            <input type="submit" name="submit">
        </form>
    </body>
</html>